@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #f3e1e1;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #4e443b;
  padding: 10px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

main {
  background-color: #f3e1e1;
}

article {
  color: #4e443b;
  width: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 20px;
}
article h1 {
  font-size: 3em;
  padding: 0px;
  margin: 0px;
}
article p {
  font-size: 1.5em;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 20px;
  background-color: #ff5733;
  border-radius: 30px;
  font-size: 1em;
  color: white;
}
article img {
  width: 25vw;
  border-radius: 19px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #4e443b;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
  flex-wrap: wrap;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 20vw;
  height: 45vh;
  background-color: #ffc3a0;
  color: #4e443b;
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  animation: slideIn 0.8s ease-in-out;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
  fill: none;
  transition: fill 0.3s ease-in-out;
}
section .healthcare .product-card .icon:hover svg, section .furniture .product-card .icon:hover svg {
  fill: red;
}
section .healthcare .product-image, section .furniture .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-image img, section .furniture .product-image img {
  width: 14vw;
  height: 30vh;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .furniture .product-card {
  background-color: #a2c8b4;
  color: white;
}

.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 30vw;
  display: flex;
  gap: 40px;
  padding-bottom: 30px;
  color: #e86424;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery-images img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #ff5733;
  width: 100%;
  height: auto;
  padding: 10px 0;
}
.footer h3 {
  padding: 5px;
  font-size: 1em;
  font-family: "IBM Plex Sans", sans-serif;
}

.social-media .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 3em;
  padding: 5px;
}
.social-media .social-icons i {
  color: #fff;
}/*# sourceMappingURL=main.css.map */