// Variables
$primary-color: #f3e1e1;
$secundary-color: #ffc3a0;
$tertiary-color: #a2c8b4;
$quaternary-color: #ff5733;
$primary-text-color: #4e443b;
$font-stack: "IBM Plex Sans", sans-serif;
$paragrahp-size: 1.5em;

// Mixins
@mixin flexCenter($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
  }
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// Base styles
body {
  margin: 0px;
  padding: 0px;
  background-color: $primary-color;
  font-family: $font-stack;
}

// Navigation styles
nav {
  width: auto;
  @include flexCenter(row, space-between, center);
  color: $primary-text-color;
  padding: 10px;
  p {
    font-size: $paragrahp-size;
    padding-left: 30px;
  }
  .icons {
    display: flex;
    gap: 15px;
    @include buttonStyle();
  }
}

// Main content styles
main {
  background-color: $primary-color;
}

// Article styles
article {
  color: $primary-text-color;
  width: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  @include flexCenter(row, space-between, center);

  .impact-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
  }
  h1 {
    font-size: 3em;
    padding: 0px;
    margin: 0px;
  }
  p {
    font-size: $paragrahp-size;
  }
  @include buttonStyle();
  button {
    width: 12vw;
    padding: 20px;
    background-color: $quaternary-color;
    border-radius: 30px;
    font-size: 1em;
    color: white;
  }
  img {
    width: 25vw;
    border-radius: 19px;
  }
}

// Section styles
section {
  width: auto;
  height: auto;
  padding: 60px;

  h2 {
    color: $primary-text-color;
    font-size: 2em;
  }
  .healthcare {
    padding-bottom: 60px;
    h2 {
      font-weight: 300;
      padding-bottom: 60px;
    }
    .card-section {
      @include flexCenter(row, space-evenly, center);
      column-gap: 200px;
      row-gap: 80px;
      flex-wrap: wrap;
    }
    .product-card {
      width: 20vw;
      height: 45vh;
      background-color: $secundary-color;
      color: $primary-text-color;
      padding: 20px;
      border-radius: 10px;
      animation: fadeIn 1s ease-in-out;
      .icon {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        animation: slideIn 0.8s ease-in-out;
        svg {
          width: 28px;
          height: 28px;
          fill: none;
          transition: fill 0.3s ease-in-out;
        }
        &:hover svg {
          fill: red;
        }
      }
    }
    .product-image {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 14vw;
        height: 30vh;
        border-radius: 6px;
        object-fit: cover;
      }
    }
  }
  .furniture {
    @extend .healthcare;
    .product-card {
      background-color: $tertiary-color;
      color: white;
    }
  }
}

// About Us section styles
.about-us {
  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }
  .mission-section {
    @include flexCenter(row, space-evenly, center);
    .earth {
      width: 30vw;
      display: flex;
      gap: 40px;
      padding-bottom: 30px;
      color: #e86424;
      img {
        object-fit: contain;
      }
      p {
        text-align: center;
        font-size: $paragrahp-size;
      }
    }
  }
  .innovation {
    @extend .earth;
  }
}

// Gallery styles
.gallery {
  .gallery-images {
    @include flexCenter(row, space-between, center);
    img {
      width: 28vw;
      height: 45vh;
      object-fit: cover;
      object-position: 5px 35%;
      border-radius: 16px;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

// Footer styles
.footer {
  background-color: $quaternary-color;
  width: 100%;
  height: auto;
  padding: 10px 0; 
  h3 {
    padding: 5px;
    font-size: 1em;
    font-family: $font-stack;
  }
}

// Social Media styles
.social-media {
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 3em;
    padding: 5px;
    i {
      color: #fff;
    }
  }
}
